* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    display: flex;
    justify-content: space-between;
    color: blueviolet;
}

.top p {
    font-size: 25px;
    font-weight: 500;
}

#start-btn {
    margin-left: 40%;
    font-size: 30px;
}

.start p {
    font-size: 25px;
    font-weight: 400;
}

.quiz,
.quiz-two,
.quiz-three,
.quiz-four {
    background-color: blueviolet;
}

.quiz,
.quiz-two,
.quiz-three,
.quiz-four,
button {
    display: flex;
    flex-direction: column;
}

.quiz,
.quiz-two,
.quiz-three,
.quiz-four,
p {
    font-size: 25px;
    font-weight: 700;
}

.end,
.start {
    font-size: 25px;
    background-color: cornflowerblue;
}

.last-page button {
    display: inline;
}

.last-page h2 {
    padding: 20px;
    font-size: 30px;
}

#display-area {
    width: 200px;
    height: 35px;
    border: solid black;
    margin-bottom: 30px;
}

#first-score {
    color: black;
}

.last-page h2 {
    font-size: 30px;
    color: blue;
}