* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    display: flex;
    justify-content: space-between;
}

#start-btn {
    margin-left: 40%;
}

.start p {
    font-size: 25px;
    font-weight: 400;
}

.quiz,
.quiz-two,
.quiz-three,
.quiz-four button {
    display: flex;
    flex-direction: column;
}

.quiz,
.quiz-two,
.quiz-three,
.quiz-four p {
    font-size: 25px;
    font-weight: 400;
}

.end {
    font-size: 25px;
}